<section class="call-section">
  <div class="container call-container">
    <div class="call-text-wrap">
      <h2 class="call-title">Fresh Harvest Box has got you covered</h2>
      <p class="call-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <div class="call-form-container">
        <form class="call-form">
          <div class="call-input-container">
            <label>
              <input
                class="call-input"
                type="tel"
                name="user-tel"
                class="call-input"
                required
                placeholder="+380 ()"
              />
            </label>
            <button class="call-button" type="submit">Recall</button>
          </div>
        </form>
      </div>
    </div>
    <div class="call-img-container">
      <picture>
        <source
          srcset="./img/call-girl-desk.png 1x, ./img/call-girl-desk2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/call-girl-tab.png 1x, ./img/call-girl-tab.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/call-girl-mob.png 1x, ./img/call-girl-mob.png 2x"
          media="(max-width: 767px)"
        />
        <img
          src="./img/call-girl-mob.png"
          alt="girl with broccoli"
          width="335"
          height="357"
          class="call-girl-img"
        />
      </picture>
    </div>
  </div>
</section>
