<section class="call-section">
  <div class="container call-container">
    <div class="call-text-wrap">
      <h2 class="call-title">Fresh Harvest Box has got you covered</h2>
      <p class="call-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <div class="call-form-container">
        <form class="call-form">
          <div class="call-input-container">
            <label>
              <input
                class="call-input"
                type="tel"
                name="user-tel"
                required
                placeholder="+380 ()"
                pattern="^\+380\d{9}$"
                title="Please enter your number that begins with +380..."
              />
            </label>
            <button class="call-button" type="submit">Recall</button>
          </div>
        </form>
      </div>
    </div>
    <div class="call-img-container">
      <picture>
        <source
          srcset="./img/call-girl-desk.webp 1x, ./img/call-girl-desk2x.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/call-girl-tab.webp 1x, ./img/call-girl-tab.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/call-girl-mob.webp 1x, ./img/call-girl-mob.webp 2x"
          media="(max-width: 767px)"
        />
        <img
          src="./img/call-girl-mob.webp"
          alt="girl with broccoli"
          width="335"
          height="357"
          class="call-girl-img"
        />
      </picture>
    </div>
  </div>
</section>
