<section class="call-section container">
  <div class="call-container">
    <h2 class="call-title">Fresh Harvest Box has got you covered</h2>
    <p class="call-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat
      healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!
    </p>
    <div class="call-form-container">
      <form class="call-form">
        <div class="call-input-container">
          <input class="call-input" type="tel" name="user-tel" class="call-input" required value="+380"
            placeholder="+380 ()" />
          <button class="call-button" type="submit">Recall</button>
        </div>
      </form>
    </div>
  </div>
  <div class="call-img-container">
  </div>
</section>