<footer class="footer" id="contacts">
  <div class="container footer-container">
    <div class="footer-control">
      <div>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/footer-broccoli-tab-desk.webp   1x,
              ./img/footer-broccoli-tab-desk2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/footer-broccoli-mob.webp   1x,
              ./img/footer-broccoli-mob2x.webp 2x
            "
          />
          <img
            src="./img/footer-broccoli-mob.webp"
            alt="broccoli"
            width="335"
            height="172"
            class="footer-broccoli-img"
          />
        </picture>

        <a class="footer-logo" href="./index.html">
          <svg class="footer-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          veggieboost
        </a>
      </div>
      <div>
        <nav class="footer-navigation">
          <ul class="footer-navigation-list">
            <li class="footer-navigation-item">
              <a class="footer-navigation-link" href="#work">How It Works</a>
            </li>
            <li class="footer-navigation-item">
              <a class="footer-navigation-link" href="#vegetables"
                >Vegetables</a
              >
            </li>
            <li class="footer-navigation-item">
              <a class="footer-navigation-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
      <address class="footer-contacts">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/GoITclub.ua/"
              class="footer-social-link"
              aria-label="facebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-social-link"
              aria-label="instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/c/goit"
              class="footer-social-link"
              aria-label="youtube"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-social-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a class="footer-tel-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              class="footer-adress-link"
              href="https://www.google.com/maps?q=GoIT%2C+%D0%BC.%D0%9A%D0%B8%D1%97%D0%B2%2C+%D0%B2%D1%83%D0%BB.+%D0%84%D0%B2%D0%B3%D0%B5%D0%BD%D0%B0+%D0%9A%D0%BE%D0%BD%D0%BE%D0%B2%D0%B0%D0%BB%D1%8C%D1%86%D1%8F"
            >
              1678 S. Pioneer Road <br />
              Salt Lake City<br />
              UT 84104<br />
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
