<footer class="footer">
  <div class="container footer-container">
    <img
      srcset="./src/img/footer-img.jpg 1x, ./src/img/footer-img-2x.jpg 2x"
      src="./src/img/footer-img.jpg"
      alt="broccoli"
      width="335"
      height="172"
    />
    <svg class="footer-icon" width="16" height="16">
      <use href="./src/img/favicon.svg"></use>
    </svg>
    <a class="footer-logo" href="./index.html">veggieboost</a>
    <ul class="footer-navigation-list">
      <li class="footer-navigation-item">
        <a href="./index.html">How It Works</a>
      </li>
      <li class="footer-navigation-item">
        <a href="./index.html">Vegetables</a>
      </li>
      <li class="footer-navigation-item">
        <a href="./index.html">Contacts</a>
      </li>
    </ul>
    <address class="footer-contacts">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            href=""
            class="footer-social-link"
            aria-label="facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icons" width="24" height="24">
              <use href="./img/facebook.svg"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href=""
            class="footer-social-link"
            aria-label="instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icons" width="24" height="24">
              <use href="./img/instagram.svg"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href=""
            class="footer-social-link"
            aria-label="youtube"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icons" width="24" height="24">
              <use href="./img/youtube.svg"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
          <a class="footer-tel-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="footer-contacts-item">
          1678 S. Pioneer Road <br />
          Salt Lake City<br />
          UT 84104<br />
        </li>
      </ul>
    </address>
  </div>
</footer>
