<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="header-menu-item header-work">
          <a class="header-menu-link" href="#work">How It Works</a>
        </li>
        <li class="header-menu-item header-vegetables">
          <a class="header-menu-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-menu-item header-contacts">
          <a class="header-menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <a class="logo-link" href="./index.html">
      <svg class="logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      veggieboost
    </a>
    <button class="shopping-btn" data-modal-open type="submit">
      <svg class="shopping-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <!-- Mobile-Menu -->
  <div data-menu class="mobile-menu is-hidden">
    <div class="mobile-menu-logo">
      <a class="logo-link" href="./index.html">
        <svg class="logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        veggieboost
      </a>
      <button class="menu-close-btn" data-menu-close type="button">
        <svg class="close-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-box-nav">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li data-menu-close-first class="mobile-menu-item">
            <a href="#work">How It Works</a>
          </li>
          <li data-menu-close-second class="mobile-menu-item">
            <a href="#vegetables">Vegetables</a>
          </li>
          <li data-menu-close-third class="mobile-menu-item">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <button
        class="menu-shopping-btn"
        data-modal-open-menu
        data-menu-close-fourth
        type="submit"
      >
        <svg class="menu-shopping-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
