<section class="hero-section">
  <div class="hero-container container">
    <ul class="hero-reviewer-list">
      <li class="hero-reviewer-item">
        <div class="hero-reviewer-wrap">
          <img
            class="hero-reviewer-image"
            srcset="
              ./img/hero-reviewer-1.png    1x,
              ./img/hero-reviewer-1-2x.png 2x
            "
            src="./img/hero-reviewer-1.png"
            alt="reviewer-1"
            width="40"
            height="40"
          />
        </div>
      </li>
      <li class="hero-reviewer-item">
        <div class="hero-reviewer-wrap">
          <img
            class="hero-reviewer-image"
            srcset="
              ./img/hero-reviewer-2.png    1x,
              ./img/hero-reviewer-2-2x.png 2x
            "
            src="./img/hero-reviewer-2.png"
            alt="reviewer-2"
            width="40"
            height="40"
          />
        </div>
      </li>
      <li class="hero-reviewer-item">
        <div class="hero-reviewer-wrap">
          <img
            class="hero-reviewer-image"
            srcset="
              ./img/hero-reviewer-3.png    1x,
              ./img/hero-reviewer-3-2x.png 2x
            "
            src="./img/hero-reviewer-3.png"
            alt="reviewer-3"
            width="40"
            height="40"
          />
        </div>
      </li>
      <li class="hero-reviewer-item">
        <div class="hero-reviewer-wrap reviewer-box">
          <p class="hero-reviewer-text">
            <span class="hero-reviewer-text-part">2k</span> reviews
          </p>
        </div>
      </li>
    </ul>
    <div class="title-image-wrap">
      <div class="title-wrap">
        <h1 class="hero-title">
          organic <span class="hero-title-part">vegetables</span> to your diet
          today!
        </h1>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <button data-modal-open-hero type="submit" class="hero-button">
          shop now
        </button>
      </div>
      <div class="hero-image-wrap">
        <picture class="hero-picture">
          <source
            srcset="./img/hero-girl.png 1x, ./img/hero-girl-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/hero-girl-tab.png 1x, ./img/hero-girl-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/hero-girl-mob.png 1x, ./img/hero-girl-mob-2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/hero-girl.png"
            alt="girl holding a salad"
            width="278"
            height="228"
            class="hero-image"
          />
        </picture>
      </div>
    </div>

    <ul class="hero-hashtag-list">
      <li class="hero-hashtag-item">
        <button type="button" class="hero-hashtag-btn">#organic</button>
      </li>
      <li class="hero-hashtag-item">
        <button type="button" class="hero-hashtag-btn">#products</button>
      </li>
      <li class="hero-hashtag-item">
        <button type="button" class="hero-hashtag-btn">#basket</button>
      </li>
      <li class="hero-hashtag-item">
        <button type="button" class="hero-hashtag-btn">#vegetables</button>
      </li>
    </ul>
  </div>
</section>
