<section class="hero-section">
    <div class="hero-container container">
        <ul class="hero-reviewer-list">
            <li class="hero-reviewer-item">
                <div class="hero-reviewer-wrap"><img class="hero-reviewer-image"
                        srcset="./img/hero-reviewer-1.jpg 1x, ./img/hero-reviewer-1-2x.jpg 2x"
                        src="./img/hero-reviewer-1.jpg" alt="reviewer-1" width="40" height="40"></div>
            </li>
            <li class="hero-reviewer-item">
                <div class="hero-reviewer-wrap"><img class="hero-reviewer-image"
                        srcset="./img/hero-reviewer-2.jpg 1x, ./img/hero-reviewer-2-2x.jpg 2x"
                        src="./img/hero-reviewer-2.jpg" alt="reviewer-2" width="40" height="40"></div>
            </li>
            <li class="hero-reviewer-item">
                <div class="hero-reviewer-wrap"><img class="hero-reviewer-image"
                        srcset="./img/hero-reviewer-3.jpg 1x, ./img/hero-reviewer-3-2x.jpg 2x"
                        src="./img/hero-reviewer-3.jpg" alt="reviewer-3" width="40" height="40"></div>
            </li>
            <li class="hero-reviewer-item">
                <div class="hero-reviewer-wrap">
                    <p class="hero-reviewer-text">2k reviews</p>
                </div>
            </li>
        </ul>
        <h1 class="hero-title">organic <span class="hero-title-part">vegetables</span> to your diet today!</h1>
        <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality
            vegetables available. Fresh Harvest
            Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to
            you.</p>
        <button type="submit" class="hero-button">shop now</button>
        <img class="hero-image" srcset="./img/hero-girl.png 1x, ./img/hero-girl-2x.png 2x" src="./img/hero-girl.png"
            alt="girl holding a salad" width="230" height="228">
        <ul class="hero-hashtag-list">
            <li class="hero-hashtag-item"><a href="" class="hero-hashtag-link">#organic</a> </li>
            <li class="hero-hashtag-item"><a href="" class="hero-hashtag-link">#basket</a></li>
            <li class="hero-hashtag-item"><a href="" class="hero-hashtag-link">#products</a></li>
            <li class="hero-hashtag-item"><a href="" class="hero-hashtag-link">#vegetables</a></li>
        </ul>
    </div>
</section>