<div class="backdrop" data-modal>
  <div class="modal">
    <p class="modal-heading">your order</p>
    <button type="button" class="modal-close-btn" data-modal-close="">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="modal-vegetables-list">
      <li class="modal-vegetables-item">
        <p class="modal-vegetables-main-text">Cabbage Basket</p>
        <p class="modal-vegetables-second-text">Plant</p>
        <picture class="modal-picture">
          <source
            srcset="
              ./img/modal-cabbage-desk.png   1x,
              ./img/modal-cabbage-desk2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/modal-cabbage-tab.png   1x,
              ./img/modal-cabbage-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/modal-cabbage-mob.png   1x,
              ./img/modal-cabbage-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/modal-cabbage-mob.png"
            alt="cabbage"
            width="94"
            height="78"
          />
        </picture>
        <label class="modal-vegetables-label">
          <input
            class="modal-checkbox visually-hidden"
            type="checkbox"
            name="modal-order"
          />
          <span>
            <svg class="modal-check-icon" width="6" height="6">
              <use href="./img/icons.svg#icon-pick"></use>
            </svg>
          </span>
        </label>
      </li>
      <li class="modal-vegetables-item">
        <p class="modal-vegetables-main-text">Tomato Basket</p>
        <p class="modal-vegetables-second-text">Plant</p>
        <picture class="modal-picture">
          <source
            srcset="
              ./img/modal-tomato-desk.png   1x,
              ./img/modal-tomato-desk2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/modal-tomato-tab.png   1x,
              ./img/modal-tomato-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/modal-tomato-mob.png   1x,
              ./img/modal-tomato-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/modal-tomato-mob.png"
            alt="tomato"
            width="94"
            height="78"
          />
        </picture>
        <label class="modal-vegetables-label">
          <input
            class="modal-checkbox visually-hidden"
            type="checkbox"
            name="modal-order"
          />
          <span>
            <svg class="modal-check-icon" width="6" height="6">
              <use href="./img/icons.svg#icon-pick"></use>
            </svg>
          </span>
        </label>
      </li>
      <li class="modal-vegetables-item">
        <p class="modal-vegetables-main-text">Vegetables Basket</p>
        <p class="modal-vegetables-second-text">Plant</p>
        <picture class="modal-picture">
          <source
            srcset="
              ./img/modal-vegs-desk.png   1x,
              ./img/modal-vegs-desk2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/modal-vegs-tab.png 1x, ./img/modal-vegs-tab2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/modal-vegs-mob.png 1x, ./img/modal-vegs-mob2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/modal-vegs-mob.png"
            alt="vegs"
            width="94"
            height="78"
          />
        </picture>
        <label class="modal-vegetables-label">
          <input
            class="modal-checkbox visually-hidden"
            type="checkbox"
            name="modal-order"
          />
          <span>
            <svg class="modal-check-icon" width="6" height="6">
              <use href="./img/icons.svg#icon-pick"></use>
            </svg>
          </span>
        </label>
      </li>
    </ul>
    <form class="modal-form">
      <div class="modal-form-wrap">
        <label class="modal-form-label">
          <input
            class="modal-input"
            type="name"
            name="user-name"
            placeholder="Enter full name..."
          />
        </label>
      </div>
      <div class="modal-form-wrap">
        <label class="modal-form-label">
          <input
            class="modal-input"
            type="email"
            name="user-email"
            placeholder="Enter email..."
          />
        </label>
      </div>
      <div class="modal-form-wrap">
        <label class="modal-form-label">
          <input
            class="modal-input"
            type="text"
            name="user-card"
            placeholder="Enter card.."
          />
        </label>
      </div>
      <div class="modal-form-wrap">
        <textarea
          name="user-comments"
          class="modal-textarea"
          placeholder="Enter comments..."
        >
        </textarea>
      </div>
      <button class="modal-submit-btn" type="submit">Submit</button>
      <img
        class="modal-girl-img"
        src="./img/modal-girl.png"
        alt="Smiling girl with the cabbage"
        srcset="./img/modal-form-girl.png 1x, ./img/modal-form-girl2x.png 2x"
        width="444"
        height="413"
      />
    </form>
  </div>
</div>
