<section class="vegatables-section">
  <div class="vegatables-container">
    <h2 class="vegatables-title">ORGANIC VEGETABLES</h2>
    <p class="vegatables-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegatables-list">
      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Carrot</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/carrot-mob.png 1x, ./img/carrot-mob-2x.png 2x"
          src="./img/carrot-mob.png 1x"
          alt="image-carrot"
          width="292"
          height="223"
        />
        <p class="vegatables-price">100 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Brussel sprouts</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/brussel-mob.png 1x, ./img/brussel-mob-2x.png 2x"
          src="./img/brussel-mob.png 1x"
          alt="image-brussel"
          width="230"
          height="230"
        />
        <p class="vegatables-price">80 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Tomato</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/tomato-mob.png 1x, ./img/tomato-mob-2x.png 2x"
          src="./img/tomato-mob.png 1x"
          alt="image-tomato"
          width="230"
          height="176"
        />
        <p class="vegatables-price">40 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Eggplant</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/eggplant-mob.png 1x, ./img/eggplant-mob-2x.png 2x"
          src="./img/eggplant-mob.png 1x"
          alt="image-eggplant"
          width="194"
          height="193"
        />
        <p class="vegatables-price">60 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Sweet potatoes</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/potatoes-mob.png 1x, ./img/potatoes-mob-2x.png 2x"
          src="./img/potatoes-mob.png 1x"
          alt="image-potatoes"
          width="294"
          height="189"
        />
        <p class="vegatables-price">80 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Leek</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/leek-mob.png 1x, ./img/leek-mob-2x.png 2x"
          src="./img/leek-mob.png 1x"
          alt="image-leek"
          width="284"
          height="198"
        />
        <p class="vegatables-price">50 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Mushrooms</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/mushrooms-mob.png 1x, ./img/mushrooms-mob-2x.png 2x"
          src="./img/mushrooms-mob.png 1x"
          alt="image-mushrooms"
          width="325"
          height="183"
        />
        <p class="vegatables-price">40 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Corn</h3>
        <p class="vegatables-local-description">Plant</p>
        <img
          srcset="./img/corn-mob.png 1x, ./img/corn-mob-2x.png 2x"
          src="./img/corn-mob.png 1x"
          alt="image-corn"
          width="265"
          height="203"
        />
        <p class="vegatables-price">60 UAH / kg</p>
      </li>

      <button
        class="vegatables-modal-open-button"
        type="button"
        data-modal-open
      >
        <svg class="vegatables-order-icon" width="14" height="14">
          <use href="./img/icons.svg#icon-shopping-arrow"></use>
        </svg>
        ORDER
      </button>
    </ul>
  </div>
</section>
