<section class="vegetables-section" id="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">organic vegetables</h2>
    <p class="vegetables-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Carrot</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/carrot.webp 1x, ./img/carrot-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/carrot-mob.webp 1x, ./img/carrot-mob-2x.webp 2x"
            />

            <img
              src="./img/carrot-mob.webp"
              alt="image-carrot"
              width="292"
              height="223"
              class="vegetables-view carrot"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">100 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Brussel sprouts</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/brussel.webp 1x, ./img/brussel-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/brussel-mob.webp 1x, ./img/brussel-mob-2x.webp 2x"
            />
            <img
              src="./img/brussel-mob.webp"
              alt="image-brussel"
              width="230"
              height="230"
              class="vegetables-view brussel"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">80 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Tomato</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/tomato.webp 1x, ./img/tomato-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/tomato-mob.webp 1x, ./img/tomato-mob-2x.webp 2x"
            />
            <img
              src="./img/tomato-mob.webp"
              alt="image-tomato"
              width="230"
              height="176"
              class="vegetables-view tomato"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">40 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Eggplant</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/eggplant.webp 1x, ./img/eggplant-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/eggplant-mob.webp 1x, ./img/eggplant-mob-2x.webp 2x"
            />
            <img
              src="./img/eggplant-mob.webp"
              alt="image-eggplant"
              width="194"
              height="193"
              class="vegetables-view eggplant"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">60 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Sweet potatoes</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/potatoes.webp 1x, ./img/potatoes-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/potatoes-mob.webp 1x, ./img/potatoes-mob-2x.webp 2x"
            />
            <img
              src="./img/potatoes-mob.webp"
              alt="image-potatoes"
              width="294"
              height="189"
              class="vegetables-view potatoes"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">80 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Leek</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/leek.webp 1x, ./img/leek-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/leek-mob.webp 1x, ./img/leek-mob-2x.webp 2x"
            />
            <img
              src="./img/leek-mob.webp"
              alt="image-leek"
              width="284"
              height="198"
              class="vegetables-view leek"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">50 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Mushrooms</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/mushrooms.webp 1x, ./img/mushrooms-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/mushrooms-mob.webp    1x,
                ./img/mushrooms-mob-2x.webp 2x
              "
            />
            <img
              src="./img/mushrooms-mob.webp"
              alt="image-mushrooms"
              width="325"
              height="183"
              class="vegetables-view mushrooms"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">40 UAH / kg</p>
      </li>

      <li class="vegetables-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Corn</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/corn.webp 1x, ./img/corn-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/corn-mob.webp 1x, ./img/corn-mob-2x.webp 2x"
            />
            <img
              src="./img/corn-mob.webp"
              alt="image-corn"
              width="265"
              height="203"
              class="vegetables-view corn"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">60 UAH / kg</p>
      </li>

      <li class="vegetables-card added-card">
        <div class="vegetables-heading">
          <h3 class="vegetables-subtitle">Radish</h3>
          <p class="vegetables-local-description">Plant</p>
        </div>
        <div class="vegetables-images">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/radish.webp 1x, ./img/radish-2x.webp 2x"
            />
            <img
              src="./img/radish.webp"
              alt="image-corn"
              width="316"
              height="181"
              class="vegetables-view radish"
            />
          </picture>
          <svg class="vegetables-shadow" width="195" height="38">
            <use href="./img/icons.svg#icon-oval"></use>
          </svg>
        </div>

        <p class="vegetables-price">90 UAH / kg</p>
      </li>
    </ul>

    <div class="vegetables-btn">
      <button
        class="vegetables-modal-open-button"
        type="button"
        data-modal-open-vegs
      >
        <svg class="vegetables-order-icon" width="14" height="14">
          <use href="./img/icons.svg#icon-shopping-arrow"></use>
        </svg>
        order
      </button>
    </div>
  </div>
</section>
