<section class="vegatables-section" id="vegetables">
  <div class="container vegatables-container">
    <h2 class="vegatables-title">organic vegetables</h2>
    <p class="vegatables-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegatables-list">
      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Carrot</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/carrot.png 1x, ./img/carrot-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/carrot-mob.png 1x, ./img/carrot-mob-2x.png 2x"
          />
          <img
            src="./img/carrot-mob.png"
            alt="image-carrot"
            width="292"
            height="223"
          />
        </picture>
        <p class="vegatables-price">100 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Brussel sprouts</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/brussel.png 1x, ./img/brussel-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/brussel-mob.png 1x, ./img/brussel-mob-2x.png 2x"
          />
          <img
            src="./img/brussel-mob.png"
            alt="image-brussel"
            width="230"
            height="230"
          />
        </picture>
        <p class="vegatables-price">80 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Tomato</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/tomato.png 1x, ./img/tomato-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/tomato-mob.png 1x, ./img/tomato-mob-2x.png 2x"
          />
          <img
            src="./img/tomato-mob.png"
            alt="image-tomato"
            width="230"
            height="176"
          />
        </picture>
        <p class="vegatables-price">40 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Eggplant</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/eggplant.png 1x, ./img/eggplant-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/eggplant-mob.png 1x, ./img/eggplant-mob-2x.png 2x"
          />
          <img
            src="./img/eggplant-mob.png"
            alt="image-eggplant"
            width="194"
            height="193"
          />
        </picture>
        <p class="vegatables-price">60 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Sweet potatoes</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/potatoes.png 1x, ./img/potatoes-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/potatoes-mob.png 1x, ./img/potatoes-mob-2x.png 2x"
          />
          <img
            src="./img/potatoes-mob.png"
            alt="image-potatoes"
            width="294"
            height="189"
          />
        </picture>
        <p class="vegatables-price">80 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Leek</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/leek.png 1x, ./img/leek-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/leek-mob.png 1x, ./img/leek-mob-2x.png 2x"
          />
          <img
            src="./img/leek-mob.png"
            alt="image-leek"
            width="284"
            height="198"
          />
        </picture>
        <p class="vegatables-price">50 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Mushrooms</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/mushrooms.png 1x, ./img/mushrooms-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/mushrooms-mob.png 1x, ./img/mushrooms-mob-2x.png 2x"
          />
          <img
            src="./img/mushrooms-mob.png"
            alt="image-mushrooms"
            width="325"
            height="183"
          />
        </picture>
        <p class="vegatables-price">40 UAH / kg</p>
      </li>

      <li class="vegatables-images">
        <h3 class="vegatables-subtitle">Corn</h3>
        <p class="vegatables-local-description">Plant</p>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./img/corn.png 1x, ./img/corn-2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./img/corn-mob.png 1x, ./img/corn-mob-2x.png 2x"
          />
          <img
            src="./img/corn-mob.png"
            alt="image-corn"
            width="265"
            height="203"
          />
        </picture>
        <p class="vegatables-price">60 UAH / kg</p>
      </li>

      <button class="vegatables-modal-open-button" type="button">
        <svg class="vegatables-order-icon" width="14" height="14">
          <use href="./img/icons.svg#icon-shopping-arrow"></use>
        </svg>
        ORDER
      </button>
    </ul>
  </div>
</section>
