<section class="work-section" id="work">
  <div class="container work-container">
    <div class="work-broccoli-wrap">
      <div class="work-title-order">
        <h2 class="work-title">
          To order your vegetable basket, simply follow these easy steps
        </h2>
        <picture>
          <source
            srcset="
              ./img/work-broccoli-desk.webp   1x,
              ./img/work-broccoli-desk2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/work-broccoli-tab.webp   1x,
              ./img/work-broccoli-tab2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/work-broccoli-mob.webp   1x,
              ./img/work-broccoli-mob2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/work-broccoli.webp"
            alt="broccoli"
            width="335"
            height="158"
            class="work-img-broccoli"
          />
        </picture>
      </div>
      <ul class="work-order-list">
        <li class="work-order-item">
          <p class="work-order-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
        </li>
        <li class="work-order-item">
          <p class="work-order-text">
            Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit baskets are the perfect choice.
          </p>
        </li>
      </ul>
    </div>

    <div class="work-steps-wrap">
      <div class="work-steps-container">
        <h2 class="work-subtitle">3 Easy Steps for Buying Fresh Vegetables</h2>

        <ol class="work-steps-list">
          <li class="work-steps-item">
            <p class="work-steps-text">
              Just choose the vegetable you want to order by clicking on the
              checkboxes next to it.
            </p>
          </li>
          <li class="work-steps-item">
            <p class="work-steps-text">
              Click on the basket and fill out the form.
            </p>
          </li>
          <li class="work-steps-item">
            <p class="work-steps-text">
              Sit back and relax! Your fresh vegetables basket will be
              delivered.
            </p>
          </li>
        </ol>
      </div>
      <picture>
        <source
          srcset="./img/work-girl-desk.webp 1x, ./img/work-girl-desk2x.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/work-girl-tab.webp 1x, ./img/work-girl-tab2x.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/work-girl-mob.webp 1x, ./img/work-girl-mob2x.webp 2x"
          media="(max-width: 767px)"
        />
        <img
          src="./img/work-girl-mob.webp"
          alt="girl with cabbage"
          width="258"
          height="319"
          class="work-img-girl"
        />
      </picture>
    </div>
  </div>
</section>
