<section class="work-section">
    <div class="container">
        <h2 class="work-title">To order your vegetable basket, simply follow these easy steps</h2>
        <img srcset="./img/work-broccoli.png 1x, ./img/work-broccoli-2x.png 2x" src="./img/work-vegetables.png"
            alt="broccoli" width="335" height="158" class="work-img-broccoli">
        <ul class="work-order-list">
            <li class="work-order-item">
                <p class="work-order-text">Our baskets are assembled with care and delivered straight to your doorstep,
                    so you can enjoy the
                    taste of fresh fruit
                    without ever leaving your home.</p>
            </li>
            <li class="work-order-item">
                <p class="work-order-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit
                    baskets are the perfect
                    choice.</p>
            </li>
        </ul>

        <h3 class="work-subtitle">3 Easy Steps for Buying Fresh Vegetables</h3>
        <ol class="wor-steps-list">
            <li class="wor-steps-item">
                <p class="wor-steps-text">Just choose the vegetable you want to order by clicking on the checkboxes next
                    to it.</p>
            </li>
            <li class="wor-steps-item">
                <p class="wor-steps-text">Click on the basket and fill out the form.</p>
            </li>
            <li class="wor-steps-item">
                <p class="wor-steps-text">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
            </li>
        </ol>
        <img srcset="./img/work-girl.png 1x, ./img/work-girl-2x.png 2x" src="./img/work-girl.png"
            alt="girl with cabbage" width="258" height="319" class="work-img-girl">
    </div>
</section>