.call-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.call-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.call-text {
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.call-input {
  margin-bottom: 40px;
  padding: 0 105px 0 24px;
  width: 100%;
  height: 48px;
  border-radius: 100px;
  opacity: 0.30000001192092896;
  border: none;
  outline: 1px solid rgba(20, 20, 20, 1);
  transition: outline var(--transition);
}

.call-input:focus {
  outline: 1px solid var(--orange-button-color);
}

.call-input::placeholder {
  color: #c1bdbd;
}

.call-input-container {
  position: relative;
}

.call-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 105px;
  min-height: 48px;
  padding: 15px 35px;
  border-radius: 100px;
  background-color: var(--orange-button-color);
  color: var(--white-for-project);
  transition: background-color var(--transition), filter var(--transition);
}

.call-button:hover,
.call-button:focus {
  background-color: var(--accent-green-color);
  filter: drop-shadow(3px 0px 3px rgba(20, 20, 20, 0.5));
}

.call-img-container {
  position: relative;
  width: 100%;
  height: 388px;
  border-radius: 40px;
  background-color: #faf3e7;
  background-image: radial-gradient(
    circle at 30px 20px,
    rgba(161, 196, 135, 0.4) 3px,
    transparent 0
  );
  background-size: 40px 40px;
  background-position: bottom;
}

.call-girl-img {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 375px) {
  .call-title {
    max-width: 323px;
  }
  .call-text {
    max-width: 321px;
  }

  .call-img-container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .call-section {
    padding-top: 100px;
    padding-bottom: 173px;
  }

  .call-title {
    max-width: 524px;
    margin: 0 auto 20px auto;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
  }

  .call-text {
    max-width: 499px;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 1.3;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }

  .call-form-container {
    display: flex;
    justify-content: center;
  }

  .call-input {
    margin-bottom: 80px;
    width: 350px;
    height: 48px;
  }

  .call-img-container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 704px;
    height: 463px;
    border-radius: 80px;
    background-color: #faf3e7;
    background-image: radial-gradient(
      circle at 30px 20px,
      rgba(161, 196, 135, 0.4) 3px,
      transparent 0
    );
    background-size: 40px 40px;
    background-position: bottom;
  }

  .call-girl-img {
    width: 629px;
    height: 446px;
    position: static;
  }
}

@media screen and (min-width: 1280px) {
  .call-section {
    padding-top: 124px;
    padding-bottom: 124px;
  }

  .call-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
  }

  .call-title {
    font-size: 48px;
    max-width: 614px;
    text-align: left;
  }

  .call-text {
    max-width: 523px;
    text-align: left;
    margin-bottom: 80px;
    margin-right: 0;
    margin-left: 0;
  }

  .call-form-container {
    justify-content: start;
  }

  .call-img-container {
    width: 525px;
    height: 536px;
    background-color: #faf3e7;
    background-image: radial-gradient(
      circle at 30px 20px,
      rgba(161, 196, 135, 0.4) 3px,
      transparent 0
    );
    background-size: 40px 40px;
    background-position: bottom;
  }

  .call-girl-img {
    width: 525px;
    height: 499px;
  }
}
