/* ----MobilFirst */
.header-nav {
  display: none;
}

.shopping-btn {
  display: none;
}

.header-container {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  gap: 8px;
  color: var(--main-body-color);
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.logo-icon {
  fill: #77ac63;
}

.shopping-btn {
  transition: fill var(--transition);
}

.shopping-btn:is(:hover, :focus) .shopping-icon {
  fill: var(--accent-green-color);
}

.burger-btn {
  background-color: transparent;
  padding: 0;
}

.burger-icon {
  fill: #77ac63;
}

/* ---MobilMenu--- */

.mobile-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--accent-green-color);
  transition: opacity var(--transition), visibility var(--transition);
}

.mobile-menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-for-project);
  padding: 13px 20px;
}

.menu-close-btn {
  background-color: transparent;
  padding: 0;
}

.close-icon {
  fill: #77ac63;
}

.mobile-box-nav {
  text-align: center;
  padding-top: 124px;
}

.mobile-menu-item {
  margin-bottom: 16px;
  color: var(--white-for-project);
  font-size: 14px;
  line-height: 1.29;
}

.menu-shopping-btn {
  background-color: transparent;
  padding: 0;
}

.menu-shopping-icon {
  fill: var(--white-for-project);
}

/* ---Tablet---*/

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-nav {
    display: block;
    margin-right: auto;
  }

  .header-menu-list {
    display: flex;
    gap: 20px;
    font-weight: 400;
    line-height: 1.29;
  }

  .heder-menu-items {
    transition: color var(transition);
  }

  .item-active:hover,
  .item-active:focus {
    color: var(--accent-green-color);
  }

  .logo-link {
    margin-right: auto;
  }

  .logo-icon {
    fill: #77ac63;
  }

  .shopping-btn {
    background-color: transparent;
    display: block;
    margin-left: auto;
  }

  .burger-btn {
    display: none;
  }

  .shopping-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  /* Border transition */
  .header-menu-item {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

  .header-menu-link:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: var(--accent-green-color);
    height: 4px;
    border-radius: 3px;
    transition-property: right;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }

  .header-menu-link:hover:before,
  .header-menu-link:focus:before,
  .header-menu-link:active:before {
    right: 0;
  }

  /* Logo rotate animation */
  .logo-link:hover .logo-icon {
    animation-name: header-pulse;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
  }

  /* Shopping cart animation */
  .shopping-icon {
    animation-name: header-shopping;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  @keyframes header-pulse {
    25% {
      transform: rotate(-15deg);
    }

    75% {
      transform: rotate(15deg);
    }
  }

  @keyframes header-shopping {
    25% {
      transform: translateX(5px);
    }

    75% {
      transform: translateX(-15px);
    }
  }
}
