.hero-section {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: var(--accent-green-color);
}

.hero-reviewer-list {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 14px;
}

.hero-reviewer-item:not(:first-child) {
  margin-left: -14px;
}

.hero-reviewer-image {
  border: 2px solid var(--white-for-project);
  border-radius: 50px;
  object-fit: cover;
}

.reviewer-box {
  content: '';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--white-for-project);
  border: 1px solid var(--white-for-project);
  border-radius: 50%;
  z-index: 4;
}

.hero-reviewer-text {
  color: var(--main-body-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  padding: 10px 9px;
}

.hero-reviewer-text-part {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.01;
  text-transform: uppercase;
}

.hero-title {
  color: var(--white-for-project);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-reviewer-text {
  color: var(--main-body-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.04em;
}

.hero-reviewer-text-part {
  font-size: 14px;
  font-weight: 500;
  line-height: 0;
  text-transform: uppercase;
}

.hero-title {
  color: var(--white-for-project);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  margin-bottom: 14px;
}

.hero-title-part {
  color: var(--secondary-green-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

.hero-text {
  color: var(--white-for-project);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-button {
  color: var(--orange-button-color);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 12px 3px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  transform: rotate(-15deg);
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.hero-button:focus {
  color: var(--accent-green-color);
  background-color: var(--secondary-green-color);
}

.hero-image-wrap {
  max-width: 279px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.hero-hashtag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 4px;
  max-width: 180px;
  margin-left: auto;
}

.hero-hashtag-btn {
  color: var(--white-for-project);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 8px 14px;
  background-color: transparent;
  border: 1px solid var(--white-for-project);
  border-radius: 1000px;
  border-color: var(--white-for-project);
}

.hero-hashtag-btn:focus {
  color: var(--main-body-color);
  background-color: var(--white-for-project);
}

@media screen and (min-width: 768px) {
  .hero-reviewer-list {
    margin-top: 113px;
    margin-bottom: 18px;
  }

  .hero-reviewer-image {
    width: 54px;
    height: 54px;
  }

  .reviewer-box {
    width: 54px;
    height: 54px;
  }

  .hero-reviewer-item:not(:first-child) {
    margin-left: -18px;
  }

  .hero-reviewer-text {
    font-size: 10px;
    line-height: 1.2;
  }

  .hero-reviewer-text-part {
    font-size: 18px;
    line-height: 1.33;
  }

  .hero-text {
    line-height: 1.28;
    margin-bottom: 32px;
    max-width: 490px;
  }

  .hero-button {
    font-size: 24px;
    text-transform: uppercase;
    padding: 23px 10px;
    height: 114px;
    width: 114px;
    margin-bottom: 16px;
  }

  .hero-image-wrap {
    max-width: 468px;
    margin-bottom: 8px;
  }

  .hero-image {
    width: 466px;
    height: 380px;
  }

  .hero-hashtag-list {
    gap: 8px 4px;
    max-width: 226px;
  }

  .hero-hashtag-btn {
    font-size: 12px;
    line-height: 1.16;
    padding: 10px 20px;
    border-radius: 1000px;
  }

  .hero-picture img {
    width: 466px;
    height: 380px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-reviewer-list {
    margin-top: 132px;
    margin-bottom: 16px;
  }

  .hero-reviewer-image {
    width: 70px;
    height: 70px;
  }

  .reviewer-box {
    width: 70px;
    height: 70px;
  }

  .hero-reviewer-item:not(:first-child) {
    margin-left: -23px;
  }

  .hero-reviewer-text {
    font-size: 12px;
    line-height: 1.16;
  }

  .hero-reviewer-text-part {
    font-size: 24px;
  }

  .title-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    margin-bottom: 8px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1.17;
    max-width: 686px;
  }

  .hero-text {
    margin-bottom: 32px;
  }

  .hero-button {
    font-size: 28px;
    padding: 29px 18px;
    width: 132px;
    height: 132px;
    transition: var(--transition);
  }

  .hero-button:hover {
    color: var(--accent-green-color);
    background-color: var(--secondary-green-color);
    border-radius: 50px;
  }

  .hero-image-wrap {
    max-width: 519px;
  }

  .hero-image {
    width: 515px;
    height: 423px;
  }

  .hero-hashtag-list {
    gap: 8px;
    max-width: 280px;
  }

  .hero-hashtag-btn {
    padding: 12px 32px;
    transition: background-color var(--transition), color var(--transition);
  }

  .hero-hashtag-btn:hover {
    color: var(--main-body-color);
    background-color: var(--white-for-project);
  }

  .hero-picture img {
    width: 515px;
    height: 423px;
  }
}