.hero-section {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: var(--accent-green-color);
}

.hero-container {
}

.container {
}

.hero-reviewer-list {
}

.hero-reviewer-item {
}

.hero-reviewer-wrap {
}

.hero-reviewer-image {
}

.hero-reviewer-text {
  color: var(--main-body-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.04em;
}

.hero-reviewer-text-part {
  font-size: 14px;
  font-weight: 500;
  line-height: 0;
  text-transform: uppercase;
}

.hero-title {
  color: var(--white-for-project);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  margin-bottom: 14px;
}

.hero-title-part {
  color: var(--secondary-green-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

.hero-text {
  color: var(--white-for-project);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.hero-button {
  color: var(--orange-button-color);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 12px 3px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  transform: rotate(-15deg);
  justify-content: center;
  align-items: center;
}

.hero-image {
}

.hero-hashtag-list {
}

.hero-hashtag-item {
}

.hero-hashtag-btn {
  color: var(--white-for-project);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 8px 14px;
  background-color: transparent;
  border: 1px solid var(--white-for-project);
  border-radius: 1000px;
  border-color: var(--white-for-project);
}

@media screen and (min-width: 428px) {
}

@media screen and (min-width: 768px) {
  .hero-reviewer-text {
    font-size: 10px;
    line-height: 1.2;
  }

  .hero-reviewer-text-part {
    font-size: 18px;
    line-height: 1.33;
  }

  .hero-title {
    font-size: 54px;
    line-height: 1.18;
    margin-bottom: 16px;
  }

  .hero-text {
    line-height: 1.28;
    margin-bottom: 32px;
  }

  .hero-button {
    font-size: 24px;
    text-transform: uppercase;
    padding: 23px 10px;
    width: 114px;
    height: 114px;
  }

  .hero-hashtag-btn {
    font-size: 12px;
    line-height: 1.16;
    padding: 10px 20px;
    border-radius: 1000px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-reviewer-text {
    font-size: 12px;
    line-height: 1.16;
  }

  .hero-reviewer-text-part {
    font-size: 24px;
    line-height: 0;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1.17;
  }

  .hero-button {
    font-size: 28px;
    padding: 29px 18px;
    width: 132px;
    height: 132px;
    transition: var(--transition);
  }

  .hero-button:hover,
  .hero-button:focus {
    color: var(--accent-green-color);
    background-color: var(--secondary-green-color);
  }

  .hero-hashtag-btn {
    padding: 12px 32px;
    transition: var(--transition);
  }

  .hero-hashtag-btn:hover,
  .hero-hashtag-btn:focus {
    color: var(--main-body-color);
    background-color: var(--white-for-project);
  }

  .hero-image-wrap {
    margin-bottom: 16px;
    margin-left: 41px;
  }

  .hero-image {
    position: relative;
    object-fit: cover;
    overflow: hidden;
  }

  .hero-image-wrap::before {
    position: absolute;
    content: '';
    display: flex;
    justify-content: center;
    width: 219px;
    height: 294px;
    background-color: var(--white-for-project);
    border-radius: 500px;
    transform: rotate(-104.004deg);
  }
}
