@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Regular.woff2), url(../fonts/DMSans-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Medium.woff2), url(../fonts/DMSans-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Bold.woff2), url(../fonts/DMSans-Bold.woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/*~ ---------GLOBAl STYLES--------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #141414;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
