@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./work.css');
@import url('./vegetables.css');
@import url('./modal.css');
@import url('./call.css');
@import url('./footer.css');

/*! MEDIA Container */
@media screen and (min-width: 428px) {
  .container {
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 744px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1256px;
  }
}
