.vegatables-title {
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.vegatables-description {
  max-width: 335px;
  height: auto;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  line-height: 1.28;
  margin-bottom: 40px;
}

.vegatables-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.vegatables-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  background: #eaf7e5;
  padding: 40px 25px 20px 20px;
  border-radius: 5%;
}

.vegatables-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  margin-bottom: 8px;
}

.vegatables-local-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-align: left;
}

.vegatables-images {
  width: 100%;
  height: 249px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 22px;
}

.vegetables-shadow {
  display: block;
  margin: 0 auto;
  background-color: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  border-radius: 50%;
}

.vegatables-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.vegatables-btn {
  display: flex;
  justify-content: center;
}

.vegatables-modal-open-button {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  text-transform: uppercase;
  transform: rotate(-14deg);
  width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  border-radius: 50%;
  background-color: #fc8a11;
  margin-top: 20px;
  transition: background-color var(--transition);
}

.vegatables-modal-open-button:focus {
  background-color: var(--accent-green-color);
}

.vegatables-order-icon {
  fill: #fff;
  transform: rotate(14deg);
}

.added-card {
  display: none;
}

@media screen and (min-width: 375px) {
  .vegatables-card {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .vegatables-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .vegatables-description {
    max-width: 562px;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .vegatables-card {
    width: calc((100% - 20px) / 2);
    padding: 64px 20px 24px 24px;
  }

  .vegatables-list {
    flex-direction: unset;
  }

  .vegatables-modal-open-button {
    font-size: 18px;
    margin-top: 40px;
    width: 114px;
    min-height: 114px;
  }

  .vegatables-order-icon {
    transform: translate(3px, 3px);
  }
}

@media screen and (min-width: 1280px) {
  .vegatables-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .vegatables-list {
    gap: 24px;
  }

  .vegatables-card {
    padding-right: 30px;
    padding-left: 30px;
    width: calc((100% - 48px) / 3);
  }

  .added-card {
    display: flex;
  }

  .vegatables-modal-open-button:hover {
    background-color: var(--accent-green-color);
  }

  .vegatables-modal-open-button {
    position: relative;
  }

  .vegatables-modal-open-button::before {
    content: '';
    position: absolute;
    border: rgba(161, 196, 135, 0.9) solid 3px;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-property: top, right, bottom, left;
  }

  .vegatables-modal-open-button:hover:before,
  .vegatables-modal-open-button:focus:before {
    animation-name: rippleOutveg;
  }

  .vegatables-modal-open-button:not(:hover)::before {
    border-color: transparent;
  }

  @keyframes rippleOutveg {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
  }

}